<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">
        <activity
            android:name="com.helix.feature.browser.webview.RawWebViewControlActivity"
            android:exported="true" />
        <activity
            android:name="com.helix.feature.browser.webview.ControllerReferenceControlActivity"
            android:exported="true" />
    </application>
</manifest>
